@import url("http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

body {
  background: #f1f1f1;
  margin: 0 auto;
}

.navbar {
  background: #fff;
  margin-bottom: 20px;
}

.navbar img {
  height: 40px;
  width: 50px;
}

.search-bar {
  border-radius: 1px;
  background: #fff;
}

.search-bar .form-control {
  border-radius: 2px;
  width: 70%
}
.search-bar .btn {
  border-radius: 2px;
  border-color: #d3d3d3;
  background: #f8f8f8;
  width: 20%;
  margin-left: -1px;
}

.search-bar .btn:hover {
  border-color: #c6c6c6;
  background: #f0f0f0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.10);
}

.recipe-viewer {
  margin-left: 20px;
}

.recipe-viewer-details {
  background: #fff;
  margin: 8px;
  padding: 8px;
  border: 0;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  margin-top: 10px;
}

.recipe-viewer-image {
  width: 150px;
  height: 150px;
}

/***********************************/
/***********************************/
/* LIST STYLES *********************/
/***********************************/
/***********************************/

.recipe-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: #fff;
  padding: 8px;
  border: 0;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  margin-right: 20px;
}

.recipe-list-entry {
  font-size: 16px;
  padding: 8px;
}

.recipe-list-entry-title {
  font-weight: bold;
}

.recipe-list-entry-title:hover {
  color: #e62117;
  cursor: pointer;
}

.recipe-list-entry-detail {
  font-size: 12px;
  color: #999;
}

.loading {
  padding-left: 20px;
}

.media-object {
  width: 250px;
  height: 250px;
}

.media-body {
  padding-left: 20px;
}

h5 {
  text-align: center;
  padding: 10px;
}

@media (max-width: 767px) {
  .recipe-list {
    margin-left: 20px;
  }

  .recipe-viewer {
    margin-right: 20px;
  }
}
